
.main {
	/* padding: 20px; */
	display: grid;
}

.container {
	display: flex;
}

.container > div {
	margin: 20px;
	/* box-shadow: 0px 0px 10px 0px black; */
}

.main img {
	height: 200px;
}








.main ul {
	padding-left: 20px;
}

.main li {
	padding: 5px 0px;
}

.main a {
	text-decoration: underline;
}
