
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--bg0: rgb(15, 15, 15);
	--bg1: rgb(15, 15, 15);
	--bg2: rgb(20, 20, 20);
	--bg3: rgb(15, 15, 15);
	
	--accent1: rgb(0, 150, 255);
	--accent1_50: rgba(0, 150, 255, 50%);
	
	--white0: rgb(100%, 100%, 100%);
	--white1: rgb(90%, 90%, 90%);
	--white2: rgb(40%, 40%, 40%);
}

* {
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	color: rgb(255, 255, 255);
	/* color: rgb(230, 230, 230); */
}

html {
	font-size: 14px;
}

body {
	overflow-x: hidden;
}

html, body {
	background-color: var(--bg0);
}

.App {
	width: 100vw;
	/* position: fixed; */
	/* background-color: darkgreen; */
}

.Index1 {
	display: flex;
	justify-content: center;
}

.Index2 {
	width: 1000px;
	margin: 20px;
	padding: 20px;
	/* background-color: var(--bg2); */
	/* border: 1px solid var(--white2); */
}

button, input {
	color: black;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }

p { color: rgb(90%, 90%, 90%); }

h1, h2, h3, h4, p {
	padding: 5px 0px;
}

button {
	font-weight: bold;
}
