
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}

html, body {
	background-color: rgb(20, 20, 20);
}

.App {
	position: fixed;
	width: 100%;
	/* background-color: darkgreen; */
}

button, input {
	color: black;
}



