
.index1 {
	width: clamp(0px, var(--global-width), 100%);
	margin: 0 auto;
	padding: 20px;
}

.index2 {
}

/* 
.index1 {
}

.index2 {
	width: var(--global-width);
	padding: 0px 10px;
	margin: 20px auto;
} */
