
.index {
	/* position: fixed; */
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: var(--bg1);
	/* border-bottom: 1px solid var(--white2); */
	box-shadow: 0px -2px 0px -1px inset var(--white2);
	/* box-shadow: 0px 0px 0px 1px var(--white2); */
	/* box-shadow: 0px 0px 50px 0px white; */
}

.navbar {
	/* background-color: var(--bg1); */
	width: var(--global-width);
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* box-shadow: 0px -1px 0px 0px inset var(--white2); */
	margin: 0px 20px;
	/* padding: 0px 10px; */
	
	/* background-color: orange; */
	
	/* border-left: 1px solid rgb(100, 100, 100); */
	/* border-right: 1px solid rgb(100, 100, 100); */
	/* background-color: rgb(20, 20, 20); */
	
}

.left, .center, .right {
	/* background-color: orange; */
	display: flex;
	/* align-items: center; */
}

.left, .right {
	width: 100px;
	padding: 0px 10px;
}

.left {
	justify-content: left;
}

.left a {
	font-size: 1.5rem;
	font-weight: bold;
	/* color: var(--white2); */
}

.oysi {
	/* color: var(--accent1); */
	/* color: var(--accent1); */
}

.dottv {
	/* color: var(--accent1); */
	/* font-size: calc(1.5rem * 0.75); */
	/* color: var(--accent1); */
}

.center {
	/* justify-content: center; */
}

.center ul {
}

.center li {
	display: inline-block;
}

.center a {
	padding: 10px 10px;
	margin: 0px 10px;
	box-shadow: 0px -2px 0px 0px inset var(--accent1);
}

.center a:hover {
	background-color: var(--accent1_50);
}

.right {
	justify-content: right;
}

.right div {
	/* color: var(--white2); */
}

@media (max-width: 600px) {
	.left, .right {
		display: none;
	}
}
