
.index {
	display: flex;
	justify-content: center;
}

.navbar {
	background-color: var(--bg1);
	width: 1000px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px -1px 0px 0px inset var(--white2);
	margin: 0px 20px;
}

.left, .center, .right {
	/* background-color: orange; */
	display: flex;
	align-items: center;
}

.left, .right {
	width: 100px;
	padding: 0px 10px;
}

.left {
	justify-content: left;
}

.left a {
	font-size: 1.6rem;
	color: var(--white2);
}

.center {
	/* justify-content: center; */
}

.center ul {
}

.center li {
	display: inline-block;
}

.center a {
	padding: 10px 10px;
	margin: 0px 10px;
	box-shadow: 0px -2px 0px 0px inset var(--accent);
}

.center a:hover {
	background-color: var(--accent50);
}

.right {
	justify-content: right;
}

.right div {
	color: var(--white2);
}

@media (max-width: 600px) {
	.left, .right {
		display: none;
	}
}
