
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: var(--bg1);
}

.left, .center, .right {
	position: absolute;
}

.left {
	left: 20px;
	font-size: 1.5rem;
}

.center a {
	padding: 10px 10px;
	margin: 0px 10px;
	box-shadow: 0px -2px 0px 0px inset rgb(173, 216, 230);
}

.center a:hover {
	background-color: rgba(173, 216, 230, 50%);
}

.center ul {
	display: flex;
}

.center li {
	display: inline-block;
}

.right {
	right: 20px;
}

@media (max-width: 600px) {
	.left, .right {
		display: none;
	}
}
